html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

.home {
    width: 60%;
    height: 400px;
    padding: 15%;
    margin-bottom: 80px;
        .t {
            font-family: Helvetica;
            font-weight: bolder;
            font-size: 100px;
        }
        .d {
            font-family: 'Courier New';
            font-weight: bold;  
            font-size: 15px;
        }
}

.line {
    width: 3%;
    height: 20000px;
    border: 5px;
    border-color: rgb(114, 114, 114);
    border-style: double;
    float: right;
    margin-right: 20%;
}

.about {
    padding: 10%;
    margin-bottom: 80px;
        .t {
            font-family: Helvetica;
            font-weight: bolder;
            font-size: 70px;
        }
        .teddy {
            font-family: 'Courier New';
            height: 320px;
            width: 80%; 
            margin-bottom: 30px;
            padding: 8px;
            border: 2px;
            border-style: solid;
            border-color: white;
            border-radius: 35px;
        
            .pic {
                height: 300px;
                width: 40%;
                padding: 10%;
                float:  left;
                border: 2px;
                border-style: solid;
                border-color: white;
                border-radius: 35px;
                background-image: url(../img/teddypic.jpg);
                background-size: 100% 100%;
            }
            .desc1 {
                font-family: 'Courier New';
                font-weight: bolder;
                text-align: justify;
                text-indent: 10px;
                margin-left: 43%;
                margin-right: 3%;
            }
            .desc2 {
                font-family: 'Courier New';
                text-align: justify;
                text-indent: 10px;
                margin-left: 43%;
                margin-right: 3%;
            }
        }
        .robert {
            height: 320px;
            width: 80%;
            padding: 8px;
            border: 2px;
            border-style: solid;
            border-color: white;
            border-radius: 35px;

            .pic {
                height: 300px;
                width: 40%;
                padding: 10%;
                float:  left;
                border: 2px;
                border-style: solid;
                border-color: white;
                border-radius: 35px;
                background-image: url(../img/robertpic.jpg);
                background-size: 100% 100%;
            }
            .desc1 {
                font-family: 'Courier New';
                font-weight: bolder;
                text-align: justify;
                text-indent: 10px;
                margin-left: 43%;
                margin-right: 3%;
            }
            .desc2 {
                font-family: 'Courier New';
                text-align: justify;
                text-indent: 10px;
                margin-left: 43%;
                margin-right: 3%;
            }
        }
        
}

.project {
    padding: 10%;

    .t {
        font-family: Helvetica;
        font-weight: bolder;
        font-size: 70px;
    }
    .nm {
        font-family: 'Courier New';
        font-weight: bolder;
    }
    .desc {
        font-family: 'Courier New';
        text-indent: 10px;
        text-align: justify;
        margin-left: 52%;
        margin-right: 19%;
        margin-bottom: 100px;
    }

    .pos {
        height: 100px;
        width: 50%;
        padding: 10%;
        float: left;
        border-radius: 35px;
        background-image: url(../img/pos.png);
        background-size: 100% 100%;
        transition: transform 0.3s ease-out;
    }
    
    .pos:hover {
        transform: translate(-30px, 30px) scale(1.2);
    }

    .tms {
        height: 300px;
        width: 50%;
        padding: 10%;
        float:  left;
        border-radius: 35px;
        background-image: url(../img/todo.png);
        background-size: 100% 100%;
        transition: transform 0.3s ease-out;
    }

    .tms:hover {
        transform: translate(-30px, 30px) scale(1.2);
    }

    .calc {
        height: 300px;
        width: 50%;
        padding: 10%;
        float:  left;
        border-radius: 35px;
        background-image: url(../img/calc.png);
        background-size: 100% 100%;
        transition: transform 0.3s ease-out;
    }

    .calc:hover {
        transform: translate(-30px, 30px) scale(1.2);
    }

    .pp {
        height: 500px;
        width: 50%;
        padding: 10%;
        float:  left;
        border-radius: 35px;
        background-image: url(../img/pp.png);
        background-size: 100% 100%;
        transition: transform 0.3s ease-out;
    }

    .pp:hover {
        transform: translate(-30px, 30px) scale(1.2);
    }

}
.interactivep {
    margin-left: 10%;
    margin-bottom: 300px;
    
    .t {
        font-family: Helvetica;
        font-weight: bolder;
        font-size: 70px;
    }
    .nm {
        font-family: 'Courier New';
        font-weight: bolder;
    }
    .desc {
        font-family: 'Courier New';
        text-indent: 10px;
        text-align: justify;
        margin-right: 70%;
    }
    .ballcanvas {
        position: absolute;
        height: 400px;
        width: 30%;
        margin-left:30%;
        border: 2px white solid;
        float: right;
        .ball {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 0 15px 5px;
            left: 40%;
            transform: translateX(-50%);

        .info {
            position: absolute;
            width: 200px;
            top: 15px;
            left: 60px;
            }
        }
    }
    .rball {
        margin-left: 12%;
    }
}

.resume {
    margin-left: 10%;
    margin-bottom: 300px;

    .t {
        font-family: Helvetica;
        font-weight: bolder;
        font-size: 70px;
    }
    .nm {
        font-family: 'Courier New';
        font-weight: bolder;
    }
    .desc {
        font-family: 'Courier New';
        text-indent: 10px;
        text-align: justify;
        margin-right: 70%;
    }
}

.contacts {
    margin-left: 10%;
    margin-bottom: 300px;

    .t {
        font-family: Helvetica;
        font-weight: bolder;
        font-size: 70px;
    }
    .nm {
        font-family: 'Courier New';
        font-weight: bolder;
    }
    .desc {
        font-family: 'Courier New';
        text-indent: 10px;
        text-align: justify;
        margin-right: 70%;
    }
}