body {
    background-color: black;
}

.home {
    color: white;

    .title {
        font-weight: bolder;
        font-family: Verdana;
        margin-top: 150px;
        margin-left: 15%;
    }

    .desc {
        font-family: 'Courier New';
        margin-left: 10%;
    }
}